h1{
    color:aliceblue;
    margin:0px 0px 0px 200px;
    
}

h3{
    
    color: aliceblue;
    margin:0px 150px 150px 50px;
    font-size: 200%;
         
}

header{
    background-color: rgb(90, 138, 235);
    margin: 0px;
    Margin-top: 0px;
    Margin-right: 0px;
    Margin-bottom: 100px;
    Margin-left: 0px;
    padding:20px 10px 30px 10px;
    box-sizing: border-box;
    


}
.caixa {
        position: relative;
        width: 1300px;
        margin: 0px auto;
        box-sizing: border-box;
        
}
nav{
    position: absolute;
    top:0px;
    right: 30px;
    
}
nav li{
    display: inline;
    margin: 0 0 0 10px;
}
nav a{
    color:aliceblue;
    text-decoration: none;
    

}
nav a:hover{ 
    color: crimson;
    text-decoration: underline;

}
nav img{
    
    display: inline-block;
    width: 10%;
    vertical-align: top;
    margin: 0 0%;
    width: 20px;
    
}
.topicos{
    width: 940px;
    margin: 80px auto;
       
}

.topicos li{
    display: inline-block;
    text-align: center;
    width: 10%;
    vertical-align: top;
    margin: 0 10%;
    
}


.topicos h2{
  
    
    font-size: 18px;    
    padding-bottom: 75px;      
    border-radius: 100%;
    position: relative;
    bottom: 0px;
    width: 105%;
    height: 30px;
    text-align: center;
    line-height: 100px;
    border: 2px solid #000fff  
      
}

footer{
    background-color: rgb(90, 138, 235);
    position:absolute;
    bottom: 0px;
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
}
